doctype html
html
    head
        <link rel="shortcut icon" href="../static/tlogo.ico" />
        title 
            |CodeMasters
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                div#logo
                     img(src="/static/logo.png")
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/services") Services]
                li #[a(href="/clinfo") Class Info]
                li #[a(href="/contact") Contact Us]
    
        section#introSection
            div Welcome to CodeMasters
            .small
                |Learn the new Way to code

        section#mission
            h2 Our Mission
            .card
                h3 Perfection
                    .cardbox
                        .cardimg
                            img(src="../static/4.png")
                        .card-content
                    p Perfection is the thing that matters a lot so You can trust Us....
            .card
                h3 Code As You Like
                    .cardbox
                        .cardimg2 
                            img(src="../static/5.png")
                        .card-content
                    p Student centered classrooms,providing opportunities to our students
            .card
                h3 Experienced Teachers
                    .cardbox
                        .cardimg
                            img(src="../static/6.png")
                        .card-content
                    p The best teachers from all around the globe to make you the best devoloper
        hr
        section#sponsors
            h2 our sponsors
        footer#footer
            |Copyright © 2020 CodeMasters| All Rights Reserved 