doctype html
html
    head
        title CodeMasters
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                div#logo
                     img(src="/static/logo.png")
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/services") Services]
                li #[a(href="/clinfo") Class Info]
                li #[a(href="/contact") Contact Us]
        .abt
            h2 ABOUT US
            br
            |CodeMaster is an Indian ed-tech startup and online tutoring firm that teaches coding to Everyone via live video classes. We started our services since 2020 and we are constantly improving and expanding in countries like India and the U.S. In 2021,We claimed the best education firm awards.Our Motto is to provide the best education for everyone in a budget friendly way 
        footer#footer
            |Copyright © 2020 CodeMasters| All Rights Reserved